
<div class = "container-fluid mainContainer" style="height:100em">
    <div class = "row"  style="height:5%;">
      <div class = "mainNavBar col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div class = "container-fluid">
          <div class = "row">
            <div class = "col-sm-2 col-md-2 col-lg-4 col-xl-4" style="text-align:right;padding-right: 0px;padding-bottom: .5em;">
                <span id = "titleApp"> M<span class = "titleSmall">OVIE</span>R<span class = "titleSmall">EC</span></span>
            </div>
            <div class = "col-sm-10 col-md-10 col-lg-8 col-xl-6" style="padding-left:0px;">
              <app-main-navigation></app-main-navigation>
            </div>
          </div>
            
        </div>
        
      </div>
    </div>
    <div class = "row"  style="height:95%">
        <div class = "content col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <app-movie-details></app-movie-details>
  
        </div>
      </div>
  </div>