:host >>>  .ui-card-body{
height:15em;
width:100%;
padding-top:1.5em;
padding-left:1.5em;
padding-bottom: 0.2em;
}
:host >>>  .ui-corner-all{
    border-radius:10px;
}
.poster{
   
}
:host >>>  .ui-card-content{
    margin-bottom: 0em;
}
:host >>>  .ui-card-footer{
    height:0em;
}
.theatres{
    border: 2px;
    border-radius:10px;
    background-color: #323232;
}