:host >>>  .ui-card-body{
height:15em;
width:100%;
padding-top:1.5em;
padding-left:1.5em;
padding-bottom: 0.2em;
}
:host >>>  .ui-corner-all{
    border-radius:10px;
}
:host >>>  .ui-card-content{
    margin-bottom: 0em;
}
:host >>>  .ui-card-footer{
    height:0em;
}
.theatres{
    border: 2px;
    border-radius:10px;
    background-color: #323232;
}
:host >>> .ui-dialog .ui-dialog-content{
    padding: 0;
}
:host >>> .ui-dialog {
   height: 100px;
   width: 900px;
}
:host >>> .ui-button .ui-button-icon{
    height: 3em;
}
:host >>> .ui-card{
background-color: none;
}