:host >>>  .ui-card-body{
height:15em;
width:100%;
padding-top:1.5em;
padding-left:1.5em;
padding-bottom: 0.2em;
}
:host >>>  .ui-corner-all{
    border-radius:10px;
}
:host >>> button{
    background-color: transparent;
    border: none;
    margin-left: 50em;
    margin-top: 15em;
    height: 5em;
    width: 5em;
}
:host >>>  .ui-card-content{
    margin-bottom: 0em;
}
:host >>>  .ui-card-footer{
    height:0em;
}
.theatres{
    border: 2px;
    border-radius:10px;
    background-color: #323232;
}
:host >>> .ui-dialog .ui-dialog-content{
    padding: 0;
}
:host >>> .ui-dialog {
   height: 100px;
   width: 900px;
}
:host >>> .ui-button .ui-button-icon-only{
    width: 100%;
    height: 100%;
}
:host >>> .ui-button:enabled:hover {
    background-color: transparent;
    border-color:transparent; }
    :host >>> .ui-button:enabled:focus {
        outline: 0 none;
        outline-offset: 0px;
        background-color: transparent; }
        :host >>> .ui-button:enabled:active {
        background-color: transparent;
        border-color: transparent}
        .btn-circle {
            width: 40px;
            height: 40px;
            margin-left: 0px;
            margin-top: 5px;
            border-radius: 20px;
            text-align: center;
            font-size: 12px;
            line-height: 1.42857;
            font-weight: bold;
        }
.showDates{
    padding-left: 2em;
}
:host >>> .ui-button.ui-state-default.ui-button-info{
    background-color: transparent;
    color:#007ad9;
}
:host >>> .ui-button:enabled:active {
color: white;
}
:host >>> .ui-button:enabled:focus {
    color: white;
}
.theatres{
    border: 2px;
    border-radius:10px;
    background-color: #323232;
}
.btn-links{
    margin-top: 5px;
    margin-left: 3em;
    height: 3em;
    width: 8em;
}