#movieTitle{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    align-self: center;
}
.ui-carousel-header{
    background-color:#191919;
}
.ui-carousel-viewport{
    background-color:#191919;
}
:host >>>  .ui-carousel .ui-carousel-viewport {
    background-color:#191919;
}
:host >>>  .ui-carousel .ui-carousel-viewport .ui-carousel-items .ui-carousel-item {
    padding-left: 0.8em;
    padding-right: 0.8em;
    padding-bottom: 1.5em;
}
:host >>>  .ui-carousel .ui-carousel-header {
    background-color:#191919;
    text-align: left;
    height: 3.5em;
    font-family: 'Kumar One', cursive;

}
:host >>> .ui-carousel .ui-carousel-header .ui-carousel-header-title {
    font-size: 1.4em;
    padding-bottom: 0.7em;
    padding-top: 0.1em;
}

.carousel-inner .item{
    width: 80%; /* Any width you want */
    height: 40%; /* Any width you want */
  }
.carousel-inner .item img{
    min-width: 80%;
    min-height: 10%;
  }

#title{
    font-family: 'Rye', cursive;
    align-self: center;
    font-size: 2.5em;
    color: #ffffff;
    -webkit-text-fill-color: #ffffff;
    /* padding-bottom: 0.3em; */
}

#title-small{
    font-family: 'Voga', cursive;
    align-self: left;
    font-size: 1em;
    color: #f7f2f2;
    /* padding-bottom: 0.3em; */
}

:host ::ng-deep .custom-spinner-template {
    height: 100% !important;
    width: 100% !important;
    top: 0% !important;
    left: 0% !important;
}